@using System.IO;

@model List<ShopperUI.Models.Product>;


@{
	ViewData["Title"] = "AllProducts";
}

<form method="get" action="@Url.Action("AllProducts", "Product")">
	<input type="text" name="searchString" placeholder="Search products..." />
	<button type="submit">Search</button>
</form>
<hr />
<br />

@foreach (var product in Model)
{
	<a class="image-button" asp-controller="Product" asp-action="OneProduct" asp-route-id="@product.ProductId">
		<img src="@Url.Action("GetResizedImageFromDatabase", "Product", new { productId = product.ProductId, width = 100, height = 100 })" alt="@product.ProductName" />
	</a>
	<p>Product Name: @product.ProductName</p>
	<p>Product Price: @product.ProductPrice</p>
	<br />

	@* 
	Same result as below just more strongly typed version	
	@Html.ActionLink("Details", "OneProduct", "Product", new { id = @product.ProductId }, null) *@

	@*<a class="button" asp-controller="Product" asp-action="OneProduct" asp-route-id="@product.ProductId">Details</a>*@
	<hr />
}
