@model ShopperUI.Models.Product;

@{
	ViewData["Title"] = "One";
}

<h1>Product Details</h1>

@if (object.ReferenceEquals(Model, null))
{
	<h3> Product not found for Product Id</h3>
}
else
{
	<p>Product Id: @Model.ProductId</p>
	<p>Product Name: @Model.ProductName</p>
	<p>Product Price: @Model.ProductPrice</p>
	<p>Product Rating: @Model.ProductRating</p>
}

@using (Html.BeginForm("AddProductToCart", "Cart", FormMethod.Post))
{
	<input type="hidden" name="productId" value="@Model.ProductId" />
	<input type="hidden" name="cartId" value="@ViewBag.CartId" />
	<!-- Other form inputs -->
	<button class="button" type="submit">Add to Cart</button>
}

<br />


