@model AcmeCorpShopperUIWebApp.ViewModels.OrderViewModel;

@{
	ViewData["Title"] = "OrderDetails";
}

<h2>Order Details</h2>
<hr />
<h5>Customer name: @Model.CustomerName</h5>
<h5>OrderId: @Model.OrderId</h5>
<h5>CartId: @Model.CartId</h5>
<h5>TotalPrice: @Model.TotalPrice</h5>

<hr />

@if (object.ReferenceEquals(Model.OrderId, null))
{
		<p>Order empty</p>
}

else
{
		<h3>Cart Items</h3>
	@if (Model.CartItems != null && Model.CartItems.Any())
	{
					<table>
						<thead>
							<tr>
								
								<th>Cart Item ID</th>
								<th>Product ID</th>
							</tr>
						</thead>
						<tbody>
				@foreach (var cartItem in Model.CartItems)
				{
											<tr>
												<td>@cartItem.CartItemId</td>
												<td>@cartItem.ProductId</td>
												
											</tr>
				}
						</tbody>
					</table>
	}
	else
	{
					<p>No items in the cart.</p>
	}
}
